body {
    overflow-x: hidden;
    font-size: 14px;
}

.btn {
    color: $main-color;
    background-color: transparent;
    border: 2px solid $second-color;
    height: 40px;
    width: 130px;
    font-size: 16px;
    transition: all 0.2s;

    &:hover {
        background-color: $second-color;
        color: $main-color;
    }

    &-radius {
        border-radius: 100px;
    }
}

article,
section {
    margin-top: 100px;
    padding: 0 110px;
}

@media (max-width: 768px) {
    article,
    section {
        padding: 0 20px;
    }
}


.headline {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    color: $topics-color;

    &::after {
        content: "";
        background-color: $second-color;
        width: 100px;
        height: 1px;
        display:inline-block;
        margin-bottom: 5px;
        margin-left: 5px;
    }
}

.headline-main {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
    }
}