@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari&family=Roboto&display=swap");
@keyframes moveInTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes move-wave {
  0% {
    transform: translate(-85px, 0%);
  }
  100% {
    transform: translate(90px, 0%);
  }
}
html {
  font-size: 10px;
}
@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

body {
  overflow-x: hidden;
  font-size: calc(1rem + 0.8vmin);
  line-height: 1.5;
}

article,
section {
  margin-top: 10rem;
  padding: 0 11rem;
}
@media (max-width: 768px) {
  article,
  section {
    padding: 0 2rem;
  }
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

h1 {
  font-size: 5.2rem;
  letter-spacing: 0.6rem;
}

h2 {
  font-size: 3.6rem;
}

p,
blockquote {
  font-size: 1.6rem;
}

p {
  line-height: 1.6;
}

h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #aaa;
}
h3::after {
  content: "";
  background-color: #ef6603;
  width: 10rem;
  height: 0.1rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

h4 {
  text-transform: uppercase;
  font-size: 3.8rem;
  font-weight: 700;
}

h5, .header-item {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
  font-weight: 700;
}

#services p {
  color: #444;
  margin: 0;
}

#about .nav-link {
  font-size: 1.8rem;
  font-weight: 500;
}

.item__title {
  color: #444;
  font-size: 22px;
  font-weight: 600;
}

a.navbar-brand {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 700;
}
a.navbar-brand:hover {
  color: #fff;
}

a.nav-link {
  font-size: 1.5rem;
  padding: 0;
}

.btn {
  border: 0.2rem solid #ef6603;
  height: 4.5rem;
  width: 15rem;
  font-size: 1.8rem;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #ef6603;
  color: #fff;
}

.btn--radius {
  border-radius: 10rem;
}

.btn--bgtransparent {
  background-color: transparent;
}

.btn--bgcolor {
  background-color: #ef6603;
}

.btn--white {
  color: #fff;
}

.btn--primary {
  color: #ef6603;
}

.btn--call {
  width: 180px;
  height: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn--call:hover {
  background-color: #fff;
  color: #ef6603;
  border: 1px solid #fff;
}

.nav-tabs {
  border: none;
}
.nav-tabs .nav-item .nav-link {
  height: 100px;
  width: 100%;
  border: 1px solid #d4d6df;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: all 0.2s;
}
.nav-tabs .nav-item .nav-link.active {
  background-color: #ef6603;
  color: #fff;
  border: 1px solid #ef6603;
}
.nav-tabs .nav-item .nav-link:not(.active):hover {
  color: #ef6603;
  border: 1px solid #d4d6df;
}
.nav-tabs .nav-item .nav-link .link-icon .icon {
  width: 4.2rem;
  height: 4.2rem;
}
.nav-tabs .nav-item .nav-link .link-info {
  margin-left: 1rem;
}

.tab-content .tab-items .list {
  margin-bottom: 3rem;
}
.tab-content .tab-items .list__item {
  line-height: 2;
}
.tab-content .tab-items .item-img img {
  width: 40rem;
  height: 40rem;
}

.swiper-slide {
  background-color: #fff;
  box-shadow: 0px 0.7rem 2.5rem 0px rgba(44, 46, 61, 0.211);
  margin-bottom: 4rem;
}
.swiper-pagination-bullet {
  border: 2px solid #ef6603;
  background-color: transparent;
  width: 1.4rem;
  height: 1.4rem;
}
.swiper-pagination-bullet-active {
  background-color: #ef6603;
}

#accordion .card {
  border-bottom: 1px solid #dddddd;
  padding: 1rem 0;
}
#accordion .card__header {
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.5s;
}
#accordion .card__header svg {
  width: 2.3rem;
  height: 2.3rem;
  color: #444;
}
#accordion .card__header:has(+ .show) {
  color: #8a3b02;
}
#accordion .card__header:has(+ .show) svg {
  transform: rotate(180deg);
}
#accordion .card__header:not(:has(+ .show)):hover {
  color: #ef6603;
}
#accordion .card__body {
  padding-top: 0;
  margin-left: 2.8rem;
}

#accordion,
.card,
.card__header {
  border: none;
  border-radius: 0;
  background-color: #fff;
}

.navbar {
  background-color: #2c2e3d;
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index: 999999;
  margin: 0;
  padding: 0 11rem;
}
@media (max-width: 768px) {
  .navbar {
    padding: 0 2rem;
  }
}
.navbar-toggler {
  border: 0;
}
.navbar-toggler-icon {
  color: #fff;
  width: 5rem;
  height: 5rem;
}
.navbar-collapse {
  background-color: #2c2e3d;
}
@media (max-width: 768px) {
  .navbar-collapse {
    width: 100%;
    position: absolute;
    left: 0;
    top: 6rem;
  }
}
.navbar-nav {
  padding: 0;
}
@media (max-width: 768px) {
  .navbar-nav {
    padding: 0 2rem;
  }
}
.navbar-nav .nav-item .nav-link {
  font-size: 1.8rem;
  color: #fff;
  margin-left: 1rem;
}
@media (max-width: 768px) {
  .navbar-nav .nav-item .nav-link {
    margin: 0;
  }
}
.navbar-nav .nav-item:hover .nav-link {
  color: #ef6603;
}
@media (max-width: 768px) {
  .navbar-nav .nav-item {
    padding: 0.4rem 0;
  }
}

.service__item {
  background-color: #fff;
  box-shadow: 0px 0.7rem 2.5rem 0px rgba(44, 46, 61, 0.211);
  padding: 3rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}
.service__item:hover {
  transform: translateY(-10px);
}
.service__item .icon {
  width: 7.5rem;
  height: 7.4rem;
  position: absolute;
  top: 50%;
  left: -2.3rem;
  transform: translateY(-50%);
}
.service__item h5,
.service__item p {
  margin-left: 50px !important;
}

.portfolio__item {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.portfolio__item .item__info {
  position: absolute;
  height: 8rem;
  width: 100%;
  background-color: rgba(24, 24, 30, 0.6);
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.4s;
  color: #fff;
  padding: 1rem;
}
.portfolio__item .item__info svg {
  stroke: #fff;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.portfolio__item .item__info svg:hover {
  stroke: #ef6603;
}
.portfolio__item:hover img {
  transform: scale(1.2);
}
.portfolio__item:hover .item__info {
  opacity: 1;
}

.price__item {
  background-color: #fff;
  box-shadow: 0px 7px 2.5rem 0px rgba(44, 46, 61, 0.211);
  text-align: center;
  border: 1px solid rgba(44, 46, 61, 0.211);
  position: relative;
  overflow: hidden;
}
.price__item .advanced {
  position: absolute;
  top: 2rem;
  right: -4.5rem;
  background-color: #ef6603;
  color: #fff;
  width: 15rem;
  transform: rotate(45deg);
}
.price__item .item__title {
  padding: 2.5rem 0;
  margin: 0;
  background-color: #f6f7f8;
}
.price__item .item__info {
  padding: 3rem;
}
.price__item .item__info h5 {
  color: #ef6603;
  font-size: 3.6rem;
}
.price__item .item__info h5 sup {
  font-size: 2rem;
}
.price__item .item__info h5 span {
  font-size: 1.6rem;
  color: #aaa;
}
.price__item .item__info ul, .price__item .item__info li {
  margin: 10px 0;
}
.price__item .item__info ul .cross-out, .price__item .item__info li .cross-out {
  color: #aaa;
  text-decoration: line-through;
}
.price__item .item__footer {
  padding: 2rem 0;
  background-color: #f6f7f8;
}
.price__item .item__footer .btn {
  background-color: #ef6603;
  color: #fff;
  transition: all 0.5s;
}
.price__item .item__footer .btn:hover {
  background-color: #fc8129;
}

.header {
  background-color: #2c2e3d;
  height: calc(100vh - 6rem);
  color: #fff;
  width: 100%;
}
.header .banner {
  width: 100%;
  height: calc(100vh - 6rem - 6rem);
}
.header .banner__text {
  width: 50%;
}
@media (max-width: 768px) {
  .header .banner__text {
    width: 90%;
  }
}
.header .banner__text--main {
  animation: moveInTop 2s ease;
}
.header .banner__text--paragraph {
  animation: moveInBottom 2s ease 0.5s;
  animation-fill-mode: backwards;
}
.header .banner__text .btn {
  animation: moveInBottom 2s ease 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}
.header .waves {
  display: block;
  width: 100%;
  height: 6rem;
  position: relative;
  background-color: #2c2e3d;
}
.header .waves-single-1 use {
  animation: move-wave 10s linear infinite;
  animation-delay: -2s;
}
.header .waves-single-2 use {
  animation: move-wave 8s linear infinite;
  animation-delay: -2s;
}
.header .waves-single-3 use {
  animation: move-wave 6s linear infinite;
  animation-delay: -2s;
}

footer {
  height: 60px;
  background-color: #2c2e3d;
}

#about .list__item {
  margin: 0.5rem 0;
}
#about .list__item .icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
  stroke: #ef6603;
}
#about .btn {
  display: block;
}
#about .row:nth-child(3) {
  margin-top: 10rem;
}

#call {
  background-color: #2c2e3d;
  color: #fff;
}

#portfolio .filter-button-group button.btn-default {
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  text-align: center;
}
#portfolio .filter-button-group button.btn-default:hover, #portfolio .filter-button-group button.btn-default:focus {
  color: #ef6603;
  border: none;
}
#portfolio .item-y {
  height: 50rem !important;
}

#testimonials blockquote svg {
  width: 2rem;
  height: 2rem;
  fill: #ef6603;
}
#testimonials .slide__photo {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}
#testimonials .slide__photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#testimonials .slide__photo p {
  margin: 0 !important;
}

.item--color {
  border: 1px solid #ef6603;
}
.item--color .item__title {
  background-color: #ef6603;
  color: #fff;
}/*# sourceMappingURL=style.css.map */