@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari&family=Roboto&display=swap");
@keyframes moveInTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes move-wave {
  0% {
    transform: translate(-85px, 0%);
  }
  100% {
    transform: translate(90px, 0%);
  }
}
.btn {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ef6603;
  height: 40px;
  width: 130px;
  font-size: 16px;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #ef6603;
  color: #ffffff;
}
.btn-radius {
  border-radius: 100px;
}

article {
  margin-top: 100px;
  padding: 0 70px;
}

.headline {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  color: #444444;
}
.headline::after {
  content: "";
  background-color: #ef6603;
  width: 100px;
  height: 1px;
  display: inline-block;
  margin-bottom: 5px;
}

.headline-main {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

header {
  background-color: #2c2e3d;
  height: calc(100vh - 60px);
  color: #ffffff;
}
header .navbar {
  background-color: #2c2e3d;
  position: fixed;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0 70px;
}
header .navbar-brand {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
}
header .navbar-brand:hover {
  color: #ffffff;
}
header .navbar-toggler {
  border: 0;
}
header .navbar-toggler-icon {
  color: #ffffff;
}
header .navbar-collapse {
  background-color: #2c2e3d;
}
header .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}
header .navbar-nav .nav-item:hover .nav-link {
  color: #ef6603;
}
header .banner {
  width: 100%;
  height: calc(100vh - 60px - 60px);
}
header .banner-text {
  width: 50%;
}
header .banner-text-heading {
  animation: moveInTop 2s ease;
}
header .banner-text-paragraph {
  animation: moveInBottom 2s ease 0.5s;
  animation-fill-mode: backwards;
}
header .banner-text .banner-btn {
  animation: moveInBottom 2s ease 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}
header .waves {
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
  background-color: #2c2e3d;
}
header .waves-single-1 use {
  animation: move-wave 10s linear infinite;
  animation-delay: -2s;
}
header .waves-single-2 use {
  animation: move-wave 8s linear infinite;
  animation-delay: -2s;
}
header .waves-single-3 use {
  animation: move-wave 6s linear infinite;
  animation-delay: -2s;
}

#about .about__list {
  margin-top: 10px;
}
#about .about__list .list__item {
  margin: 5px 0;
}
#about .about__list .list__item .icon {
  width: 18px;
  height: 18px;
  stroke: #ef6603;
  margin-right: 5px;
}
#about .about-btn {
  display: block;
  color: #ef6603;
}
#about .about-btn:hover {
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */