#about {
    .about__list {
        margin-top: 10px;

        .list__item {
            margin: 5px 0;
            .icon {
                width: 18px;
                height: 18px;
                stroke: $second-color;
                margin-right: 5px;
            }
        }
    }

    .about-btn {
        display: block;
        color: $second-color;
        
        &:hover {
            color: $main-color;
        }
        
    }

    .row:nth-child(3) {
        margin-top: 100px;
    }

    .nav-tabs {
        border: none;
    }

    .nav-item {
        .nav-link {
            border: 1px solid #d4d6df;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            transition: all .2s;
            font-size: 18px;

            height: 100px;
            width: 100%;

            font-weight: 500;
            

            .link-icon .icon {
                width: 42px;
                height: 42px;
            }

            .link-info {
                margin-left: 10px;
            }

            &.active {
                background-color: $second-color;
                color: $main-color;
                border: 1px solid $second-color;
            }

            &:not(.active):hover {
                color: $second-color;
                border: 1px solid #e9ecef;
            }
        }
    }

    .tab-content {
        margin-top: 40px;
    }
}

