#portfolio {
    .filter-button-group {
        button.btn-default {
            background-color: transparent;
            text-transform: uppercase;
            border: none;
            text-align: center;

            &:hover,
            &:focus {
                color: $color-primary;
                border: none;
            }
        }
    }
    .item-y {
        height: 50rem !important;
    }
}
