#services {
    .service-item {
        background-color: $main-color;
        box-shadow: 0px 7px 25px 0px rgba(93, 95, 100, 0.211);
        padding: 30px;
        position: relative;
        overflow: hidden;
        transition: all .5s;

        .icon {
            position: absolute;
            width: 75px;
            height: 74px;
            top: 50%;
            transform: translateY(-50%);
            left: -23px;
        }

        h5 {
            font-weight: 600;
        }

        p {
            color: #555;
            margin: 0;
        }

        h5,
        p {
            margin-left: 50px;
        }

        &:hover {
            transform: translateY(-10px);
        }
    }
}
