html {
    font-size: 10px;

    @media (max-width: $breakpoint-medium) {
        font-size: 8px;
    }
}

body {
    overflow-x: hidden;
    //font-size: 1.6rem;
    font-size: calc(1rem + 0.8vmin);
    line-height: 1.5;
}

article,
section {
    margin-top: 10rem;
    padding: 0 11rem;

    @media (max-width: $breakpoint-medium) {
        padding: 0 2rem;
    }
}